.header{
    background-image:url("first.jpg");
    height:550px;background-size: cover;
    background-repeat: no repeat;
}
.hero{
    color:rgb(20, 1, 1);
    text-align: center;
    padding-top: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section{
    background-image: url('eren.jpeg');
    background-size: cover;
    background-repeat: no repeat;
height: 800px;
    padding-top: 50px;

}

.quote{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: rgb(34, 17, 17);
    margin: 20px;
   
}